.wrapper {
  @include flex;
  color: #000;
  background: #fff;
  border: 1px solid #000;
  font-size: 14px;
  color: #000;
  border-radius: 50px;
  outline: none;
  display: inline-flex;
  cursor: pointer;
}
